/* Your custom styles go here */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

#loginForm,
#adminFunctionalities,
#nurseFunctionalities,
#patientFunctionalities {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
